/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-dekstop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --bg-color: #000028;
  --main-font-size: 18px;
  --page-font-family: 'IBM Plex mono', 'Arial', sans-serif;
  --acent-color: #FF0070;
  --title-decor: #FF0070;
  --text-color: #000028;
  --header-nav: #FF0070;
  --title-color: #FF0070;
  --decoration-text-color:#FF0070;
}